body{
    background-color: #98AFC7;
}

#inputSection{
    border: 2px solid black;
}
#todoInput{
    background-color: #7C9D8E;
    color: white;
}

#todoInput::placeholder{
    color: #B6B6B4;
}

#commentInput{
    background-color: #778899;
}