body{
    background-color: #E6E6FA;
}

h1{
    text-align: center;
    color: black;
    border: solid black 1px;
    background-color: #F5FFFA;
}

#inputSection{
    margin: 20px;
    border: 2px solid black;
    

}

#refresh{
    float: right;
}

#todoInput, #todoInput::placeholder,#comment-input, #comment-input::placeholder{
    background-color: E0FFFF;
    color: black;
    border: black 2px;
    font-style: italic;
}

#view-switch{
    float: right;
}



/* .view{
    float: right;
} */

#todo-list{
    margin: 10px;
    border: solid black 1px;
}
